@page "/login"
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center flex-column">
            <h3>LOGIN</h3> 
        </div>
        <div class="mb-3">
            <label >User Name</label>
             <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
        </div>
        <div class="mb-3 text-center">
            <span class="text-danger"></span>
        </div>
        <div class="mb-3 d-grid gap-2">
            <Button  @onclick="button_click_OPD" class="btn btn-primary" >Login</Button>
        </div>
    </div>
</div>

@code 
{ 
    private void button_click_OPD() 
    { 
        NavigationManager.NavigateTo("/input_detail/"); 
    } 
}